<ion-header>
  <ion-navbar>
    <ion-title>Forgot your password?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-list>
    <div>
      <!--<img src="assets/images/CuriousCarrotLogo.png" class="logoImg" />-->
    </div>
    <div [hidden]="getCurrentState() != 'InsertEmail'">
    <p>You forgot your password? No problems. Insert your email below and we'll restore it for you.</p>
     <form  #forgotPasswordForm="ngForm" novalidate>
       <ion-item>
        <ion-input type="text" [(ngModel)]="forgotPasswordModel.email" name="email" id="email" placeholder="email" required pattern="[a-zA-Z0-9._-]+@[a-zA-Z]+\.\[a-zA-Z]{2,3}"></ion-input>
      </ion-item>
      <ion-item *ngIf="forgotPasswordModel.email.errors && (email.dirty || email.touched)">
        <ion-label [hidden]="!email.errors.required" class="red-warning">You need to insert an email</ion-label>
        <ion-label [hidden]="!email.errors.pattern" class="red-warning">You need to insert a valid email</ion-label>
      </ion-item>
       <button ion-button full  (click)="insertEmail()" [disabled]="!forgotPasswordForm.form.valid" >Restore password</button>
    </form>
    </div>
  <div [hidden]="getCurrentState() != 'ConfirmEmail'">
      <p>Please insert below the code you received in your email.</p>
      <form #forgotPasswordCodeForm="ngForm" novalidate>
        <ion-item>
          <ion-input type="text" [(ngModel)]="codeModel.code" name="code" id="code" placeholder="code" required ></ion-input>
        </ion-item>
        <ion-item *ngIf="codeModel.code.errors && (code.dirty || code.touched)">
          <ion-label [hidden]="!code.errors.required" class="red-warning">Insert the code you received by email</ion-label>
        </ion-item>
        <button ion-button full  (click)="submitCode()" [disabled]="!forgotPasswordCodeForm.form.valid" >Confirm email</button>
      </form>
   </div>
  <div [hidden]="getCurrentState() !='ChangePassword'">
     <p>Please select a new password.</p>
      <form  #changePasswordForm="ngForm" novalidate>
        <ion-item>
          <ion-input type="password" [(ngModel)]="passwordModel.password" name="password" id="password" placeholder="password" required ></ion-input>
        </ion-item>
        <ion-item *ngIf="passwordModel.password.errors && (password.dirty || password.touched)">
          <ion-label [hidden]="!password.errors.required" class="red-warning">Insert a password</ion-label>
        </ion-item>
         <ion-item>
          <ion-input type="password" [(ngModel)]="passwordModel.confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="confirm password" required validateEqual="password" ></ion-input>
        </ion-item>
        <ion-item *ngIf="passwordModel.confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
          <ion-label [hidden]="!confirmPassword.errors" class="red-warning">Please confirm your password</ion-label>
        </ion-item>
        <button ion-button full  (click)="changePassword()" [disabled]="!changePasswordForm.form.valid" >ChangePassword</button>
      </form>
      </div>
  </ion-list>
</ion-content>
