<ion-header>
  <ion-navbar>
    <ion-title>Forgot your password?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
   <ion-list>
    <div>
      <!--<img src="assets/images/CuriousCarrotLogo.png" class="logoImg" />-->
    </div>
    <div [hidden]="isCodePhase">
    <p>You forgot your password? No problems. Insert your email below and we'll restore it for you.</p>
     <form  #forgotPasswordForm="ngForm" novalidate>
       <ion-item>
        <ion-input type="text" [(ngModel)]="forgotPassword.email" name="email" id="email" placeholder="email" required pattern="[a-zA-Z0-9._-]+@[a-zA-Z]+.[a-zA-Z]{2,3}"></ion-input>
      </ion-item>
      <ion-item *ngIf="forgotPassword.email.errors && (email.dirty || email.touched)">
        <ion-label [hidden]="!email.errors.required" class="red-warning">You need to insert an email</ion-label>
        <ion-label [hidden]="!email.errors.pattern" class="red-warning">You need to insert a valid email</ion-label>
      </ion-item>
       <button ion-button full  (click)="restorePassword()" [disabled]="!forgotPasswordForm.form.valid" >Restore password</button>
    </form>
    </div>
  <div [hidden]="!isCodePhase">
      <p>Please insert below the code you received in your email.</p>
      <form (ngSubmit)="submitCode(f)" #forgotPasswordCodeForm="ngForm" novalidate>
        <ion-item>
          <ion-input type="text" [(ngModel)]="code.code" name="code" id="code" placeholder="code" required ></ion-input>
        </ion-item>
        <ion-item *ngIf="code.code.errors && (code.dirty || code.touched)">
          <ion-label [hidden]="!code.errors.required" class="red-warning">Insert the code you received by email</ion-label>
        </ion-item>
        <button ion-button full  (click)="submitCode()" [disabled]="!forgotPasswordCodeForm.form.valid" >Confirm email</button>
      </form>
      </div>
  </ion-list>
</ion-content>
