page-register {
        
    .register-slideContainer{
        position:relative;
    }

    .register-slide{
        width: 100%;
        margin:20px auto;
    }

    .register-img{
        margin:10px;
    }

    .register-text{
        text-align: center;
        font-size:1.2em;
    }
    .register-slide>h3{
        text-align: center;
    }

    .logoImg{
        width:50%;
        margin:0 auto;
        display: block;
        max-width:350px;
    }
    
     .logoImg{
        margin: 10px;
        max-width: 75%;
        max-height: 50%;
        display: block;
        padding: 10px;
        margin: 0 auto;
    }
}
