page-details {
  ion-card {
    position: relative;
    text-align: center;
  }


  .headerImg {
    max-width: 10%;
    max-height: 100px;
    float: left;
  }
  
  .headerTitle {
    width: 70%;
    display: block;
    float: left;
    font-size: 2.1em;
    margin-top: 22px;
  }

  .relative{
    position:relative;
  }

  .float-l {
    float: left;
  }
  .clearf {
    clear: both;
  }
}
