page-details {
  ion-card {
    position: relative;
    text-align: center;
  }


  .headerImg {
    max-width: 10%;
    max-height: 100px;
    float: left;
  }
  
  .headerTitle {
    width: 70%;
    display: block;
    float: left;
    font-size: 2.1em;
    margin-top: 22px;
  }

  .relative{
    position:relative;
  }

  .link{
    color:blue;
  }

  ul.rating > li{
      padding:0 !important;
      margin-bottom: 0 !important;
  }

  ul.rating{
      padding:0 !important;
  }

  .margin-15{
    margin-top: 15px;
  }

  .gallery-slide{
    height:150px;
  }

  .clock{
    margin-top:5px;
    margin-left:5px;
    width:10%;
  }

   #map{
    width: 100%;
    max-width: 300px;
    height: 150px;
   }

   .tag{
     color:#488aff;
   }
   .third{
     width:30%;
   }
  @media screen and (min-width:300px){
    .clock{
        width:20px;
    }
  }

}
