page-home {
    .spacer-10px{
        height:10px;
    }

    .margin-bottom-10px{
        margin-bottom:10px;
    }
    
    .tag{
        color:darkblue;
    }

    .hometag{
        float: left;
        width: 100px;
        margin: solid white 2.5px;
        display: inline-table;
        /* height: 30px; */
        width: 33.0%; 
        padding: 15px;
        margin:5px;
        background-color: #28a54c;
        text-align: center;
        color: white;
        /* height: 50px; */
        vertical-align: middle;
    }

    .orange{
        background-color: #ef473a;
    }
   
}
