page-home {
    .spacer-10px{
        height:10px;
    }

    .margin-bottom-10px{
        margin-bottom:10px;
    }

    .hometag{
    float: left;
    width: 100px;
    margin: 2px;
    display: inline-table;
    /* height: 30px; */
    width: 32%;
    padding: 5px;
    background-color: #28a54c;
    text-align: center;
    color: white;
    /* height: 50px; */
    vertical-align: middle;
}
}
