<ion-view view-title="Add Place">
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
          <i class="icon ion-ios-arrow-back"> Back</i> 
        </button>
  </ion-nav-buttons>
  <ion-content>
    <h3 class="center">Add your favorite place!</h3>
    <img src="img/CuriousCarrotLogo.png" class="logoImg last-slide" />
    <form name="form" novalidate>
      <div class="list">
        <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text" ng-model="place.name" name="name"  ng-model-options="{ debounce: 500 }" required>
          </label>
        <label class="item" ng-show="form.name.$error.required&&(form.$submitted || form.name.$touched)">
              <span class="red-warning" >Please insert a name</span>
          </label>
        <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="place.email" name="email" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-z]{2,4})$/" ng-model-options="{ debounce: 500 }" required>
          </label>
        <label class="item" ng-show="(form.email.$error.pattern || form.email.$error.required)&&(form.$submitted || form.email.$touched)">
              <span class="red-warning"  ng-show="form.email.$error.required" >Please specify an email</span>
              <span class="red-warning"  ng-show="form.email.$error.pattern" >You need to insert a valid email</span>
          </label>
        <label class="item item-input">
              <span class="input-label">Website</span>
              <input type="text" ng-model="place.website" placeholder="http://www.example.com"  name="website" ng-pattern="/^(http|https)://[\w-]+(\.[\w-]*)+([\w.,@?^=%&amp;:/~+#-]*[\w@?^=%&amp;/~+#-])?$/" ng-model-options="{ debounce: 500 }" required>
          </label>
        <label class="item" ng-show="(form.website.$error.pattern || form.website.$error.required)&&(form.$submitted || form.website.$touched)">
              <span class="red-warning"  ng-show="form.website.$error.required" >Please specify a website</span>
              <span class="red-warning"  ng-show="form.website.$error.pattern" >You need to insert a valid website address</span>
          </label>
        <label class="item item-input">
              <span class="input-label">Phone Number</span>
              <input type="text" ng-model="place.phoneNumber" name="phoneNumber" ng-pattern="/^[+0-9 ]{0,4}[0-9\(\)\- +]{8,15}$/" ng-model-options="{ debounce: 500 }" required>
          </label>
        <label class="item" ng-show="(form.phoneNumber.$error.pattern || form.phoneNumber.$error.required)&&(form.$submitted || form.phoneNumber.$touched)">
              <span class="red-warning"  ng-show="form.phoneNumber.$error.required" >Please specify an phone number</span>
              <span class="red-warning"  ng-show="form.phoneNumber.$error.pattern" >You need to insert a valid phone number</span>
          </label>
        <label class="item item-input">
              <span class="input-label">Opening Hours</span>
              <input type="text" ng-model="place.openingHours" name="openingHours" ng-model-options="{ debounce: 500 }" required>
          </label>
        <label class="item item-input">
              <span class="input-label">Description</span>
              <textarea name="description" ng-model="place.description" ng-model-options="{ debounce: 500 }" required></textarea>
          </label>
            <label class="item" ng-show="(form.description.$error.pattern || form.description.$error.required)&&(form.$submitted || form.description.$touched)">
              <span class="red-warning"  ng-show="form.description.$error.required" >Please insert a description</span>
              <span class="red-warning"  ng-show="form.description.$error.pattern" >You need to insert a description of at least between 50 and 200 characters</span>
          </label>
          <label class="item item-input">
              <span class="input-label">Address</span>
              <input type="text" placeholder="address" google-autocomplete-suggestion location="place.location" on-selection="onAddressSelection(location)" ng-model="place.location.formatted_address" required>
          </label>
       <label class="item" ng-show="form.address.$error.required&&(form.$submitted || form.address.$touched)">
              <span class="red-warning" >Please define the address</span>
          </label>
        <label class="item item-input item-select">
            <div class="input-label">
            Type
            </div>
            <select ng-model="place.type" name="type" required>
                <option selected value="">Select a type</option>
                <option value="restaurant">restaurant</option>
                <option value="shop">shop</option>
                <option value="cafe">cafe</option>
            </select>
        </label>
           <label class="item" ng-show="form.type.$error.required&&(form.$submitted || form.type.$touched)">
              <span class="red-warning" >Please select a type</span>
          </label>


         <label class="item item-input item-select">
            <div class="input-label">
            Country
            </div>
            <select ng-model="place.country" name="country" required>
                <option selected value="">Select a Country</option>
                <option value="5813305e3db657f2417b3cc9">Nothern Ireland</option>
                <option value="581330733db657f2417b3cca">Ireland</option>
                <option value="581e52943db657f2417b3ccd">Spain</option>
                <option value="5828ff623db657f2417b3cdb">Italy</option>
            </select>
        </label>
           <label class="item" ng-show="form.country.$error.required&&(form.$submitted || form.country.$touched)">
              <span class="red-warning" >Please select a country</span>
          </label>

        
        <!--Button-->
        <div class="padding" ng-hide="isSuccessMessageShown||isErrorMessageShown">
          <button type="submit" class="button button-block button-positive" ng-click="submit(place,form)">Submit</button>
        </div>

         <div class="card " ng-click="goToList()" ng-show="isSuccessMessageShown">
          <div class="item item-text-wrap register-correctly-message">
           Thanks. We inserted correctly the place in our Archive. Thanks for letting us know! Click here to go back to the listing page.
          </div>
        </div>
        <div class="card "ng-show="isErrorMessageShown">
          <div class="item item-text-wrap register-failed-message">
         Sorry, there was a problem during saving the place. {{errorMessage}}
          </div>
        </div>


      </div>
      <div>
    </form>
  </ion-content>
</ion-view>
