<ion-view view-title="Add Place">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
          <i class="icon ion-ios-arrow-back"> Back</i> 
        </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap main-message">
        Did you find a place you want to share with our community? Please fill the following, Trying to be the more precise you can.
      </div>
    </div>
  </ion-content>
</ion-view>
