<ion-view view-title="Leave a feedback">
  <ion-content>
    <h4 class="centered-text">Add review</h4>
    <div class="list">
      <form name="form" novalidate>
        <label class="item item-input item-stacked-label">
    <span class="input-label">Review title</span>
    <input type="text" name="title" ng-model="review.title"  ng-model-options="{ debounce: 500 }" placeholder="A nice salad" required>
  </label>
        <label class="item" ng-show="form.title.$error.required&&(form.$submitted || form.firstName.$touched)">
    <span class="red-warning" >Please insert a title</span>
  </label>
<div class="reviewLabelFix">
    <span class="input-label" style="width:100%">Rating<span>
      <div class="review addreview">
       <rating ng-model="review.rating" name="rating"></rating>
      </div>
  </div>
   <label class="item" ng-show="form.comment.$error.required&&(form.$submitted || form.comment.$touched)">
    <span class="red-warning" >Please a valid Rating</span>
  </label>
        <label class="item item-input item-stacked-label">
   <span class="input-label">Description</span>
   <textarea ng-model="review.description" name="comment" placeholder="I had a really nice ..." required></textarea>
  </label>
        <label class="item" ng-show="form.description.$error.required&&(form.$submitted || form.description.$touched)">
    <span class="red-warning" >Please insert a Description</span>
  </label>
  
  <div class="padding">
     <button type="submit" class="button button-block button-positive" ng-click="addreview(review,form)">Add Review</button>
  </div>
  </form>
</div>
  </ion-content>
</ion-view>
