<ion-view view-title="Around you">
  <ion-nav-buttons side="left">
      <button class="button" ng-click="goToMap()">
        View as Map
      </button>
    </ion-nav-buttons>
  <ion-content>
  <div class="list">
    <a ng-repeat="place in places" class="item item-avatar" ng-click="$parent.gotoDetails(place)">
      <i class="icon ion-ios-nutrition-outline"></i>
      <h2>{{place.name}}</h2>
      <p>{{place.type}}</p>
      <div class="review">
          <rating ng-model="place.rating" max="5"></rating>
      </div>
      <i class="icon ion-chevron-right icon-accessory list-arrow"></i>
    </a>
</ion-list>
  </ion-content>
</ion-view>
