<ion-view view-title="Change Password">
  <ion-content>
    <div>
      <div ng-hide="changeSuccess">
        <h3 class="center">Change Password</h3>
        <img src="img/CuriousCarrotLogo.png" class="logoImg last-slide" />
        <form name="form" novalidate>
          </label>
          <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password" ng-pattern="/^[ A-Za-z0-9_@./#&+-]{8,}$/" name="password" required>
          </label>
          <label class="item" ng-show="(form.password.$error.required||form.password.$error.pattern)&&(form.$submitted || form.lastName.$touched)">
              <span class="red-warning" ng-show="form.password.$error.required" >Please insert a password</span>
              <span class="red-warning" ng-show="form.password.$error.pattern" >Please insert password of at least 8 characters</span>
          </label>
          <label class="item item-input">
              <span class="input-label">Confirm Password</span>
              <input type="password" ng-model="user.confirmPassword" name="confirmPassword" compare-to="user.password" ng-model-options="{ debounce: 500 }" required >
          </label>
          <label class="item" ng-show="(form.$submitted || form.password.$touched)&&(form.confirmPassword.$error||form.confirmPasswrd.$error.required)">
               <span class="red-warning" ng-show="form.confirmPassword.$invalid" >The inserted passwords don't match</span>
          </label>
          <div class="padding">
            <button type="submit" class="button button-block button-positive" ng-click="changePassword(user,form)">Change Password</button>
          </div>
        </form>
        <div class="card" ng-show="changeError">
          <div class="item item-text-wrap register-failed-message">
            {{errorMessage}}
          </div>
        </div>
      </div>
      <div class="card " ng-click="goToLogin()" ng-show="changeSuccess">
           <h3 class="center">Change Password</h3>
        <img src="img/CuriousCarrotLogo.png" class="logoImg last-slide" />
        <div class="item item-text-wrap register-correctly-message">
          Congratulations, you changed the password successfully. Click here to login
        </div>
      </div>
      <div>
  </ion-content>
</ion-view>
