<ion-view view-title="{{details.name}}" class="details">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"> Back</i> 
    </button>
  </ion-nav-buttons>


   <ion-content class="padding">
 <div class="item item-divider">
    <h2>{{details.name}}</h2>
    <p>{{details.type}}</p>
  </div>


    <div class="list">

  <a class="item item-icon-left" href="mailto:{{details.email}}">
    <i class="icon ion-email"></i>
    {{details.email}}
  </a>

  <a class="item item-icon-left item-icon-right" href="tel:{{details.phoneNumber}}">
    <i class="icon ion-chatbubble-working"></i>
    Call {{details.phoneNumber}}
    <i class="icon ion-ios-telephone positive"></i>
  </a>

 <div class="item item-icon-left ">
    <i class="icon ion-clock"></i>
    {{details.openingHours}}
  </div>

  <div class="item">
        <div my-static-map lat="details.latitude" lng="details.longitude" width="350"></div>
  </div>
  <a class="item item-icon-left" href="maps://maps.apple.com/?q={{details.latitude}},{{details.longitude}}">
    <i class="icon ion-location"></i>
    {{details.address}}
    <span class="item-note">
      Open Map
    </span>
  </a>

  <a class="item item-icon-left" ng-click="goToReviews(details)">
    <i class="icon ion-android-star-outline"></i>
    
    <div class="review">
       <rating ng-model="details.rating" max="5" ></rating>
    </div>
    <span class="item-note">
      Open Reviews
    </span>
  </a>

  <a class="item item-icon-left" ng-click="goToMenu(details)">
    <i class="icon ion-coffee"></i>
    {{details.name}} Menu
    <span class="item-note">
      Open Menu
    </span>
  </a>


  

</div>
   </ion-content>
</ion-view>
