<ion-view view-title="{{details.name}}" class="details">
  <ion-nav-back-button class="button-clear"
    ng-click="myGoBack()">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
   <ion-content class="padding">
 <div class="item item-divider">
    <h2>{{details.name}}</h2>
    <p>{{details.type}}</p>
  </div>


    <div class="list">

  <a class="item item-icon-left" href="emailto:{{details.email}}">
    <i class="icon ion-email"></i>
    {{details.email}}
  </a>

  <a class="item item-icon-left item-icon-right" href="tel:{{details.phoneNumber}}">
    <i class="icon ion-chatbubble-working"></i>
    Call {{details.phoneNumber}}
    <i class="icon ion-ios-telephone positive"></i>
  </a>
  <div class="item">
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{details.latitude}},{{details.longitude}}&markers=color:red%7Clabel:{{details.name}}%7C{{details.latitude}},{{details.longitude}}&zoom=12&size=400x150&key=AIzaSyDIILGDLIQU2DlGzBbw4smp1WErV5QKpB0"/>
  </div>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-location"></i>
    {{details.address}}
    <span class="item-note">
      Open Map
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-star-outline"></i>
    
    <div class="review">
       <rating ng-model="place.rating" max="5" ></rating>
    </div>
    <span class="item-note">
      Open Reviews
    </span>
  </a>

 <div class="item item-divider">
    <h2>Menu</h2>
  </div>

</div>
   </ion-content>
</ion-view>
