<ion-view view-title="{{details.name}}" class="details">

  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"> Back</i> 
    </button>
  </ion-nav-buttons>


   <ion-content class="padding">
     <div ng-hide="isDetailVisible">
       <h3 class="center">Loading Details...</h3>
       </div>
     <div ng-show="isDetailVisible">
 <div class="item item-divider">
    <h2>{{details.name}}</h2>
    <p>{{details.type}}</p>
  </div>


    <div class="list">

  <a class="item item-icon-left" href="mailto:{{details.email}}">
    <i class="icon ion-at"></i>
    {{details.email}}
  </a>

  <a class="item item-icon-left" ng-click="openPage(details.website)">
    <i class="icon ion-android-globe"></i>
    {{details.website}}
  </a>
  <a class="item item-icon-left item-icon-right" ng-click="call(details.phoneNumber)">
    <i class="icon ion-chatbubble-working"></i>
    Call {{details.phoneNumber}}
    <i class="icon ion-ios-telephone positive"></i>
  </a>

 <div class="item item-icon-left ">
    <i class="icon ion-clock"></i>
    <div ng-repeat="hour in details.openingHours">
        <li class="openingHour">{{hour}}</li>
    </div>
  </div>

  <div class="item item-icon-left ">
    <i class="icon ion-pricetags"></i>
    <div ng-repeat="tag in details.tags">
      <div class="tag">#{{tag}}</div>
    </div>
  </div>
  <div class="item" ng-click="openMap()">
        <div my-static-map lat="details.latitude" lng="details.longitude" width="350"></div>
  </div>
  <!--<a class="item item-icon-left" href="maps://maps.apple.com/?q={{details.latitude}},{{details.longitude}}">
    <i class="icon ion-location"></i>
   
    <span class="item-note">
      Open Map
    </span>
  </a>-->
 
 <a class="item item-icon-left" ng-click="navigate()">
    <i class="icon ion-location"></i>
    <p>{{details.address}}</p>
    <p> ~ {{details.distance | number:1}} Km</p>
    <span class="item-note">
      Open Direction
    </span>
  </a>

  <a class="item item-icon-left" ng-click="goToReviews(details)">
    <i class="icon ion-android-star-outline"></i>
    
    <div class="review">
       <rating ng-model="details.rating" max="5" ></rating>
    </div>
    <span class="item-note">
      Open Reviews
    </span>
  </a>

  <a class="item item-icon-left bottom-space-20"  ng-click="goToGallery(details)">
    <i class="icon ion-coffee"></i>
    {{details.name}} Gallery
    <span class="item-note">
      Open Gallery
    </span>
  </a>


  

</div>
</div>
   </ion-content>
</ion-view>
