<ion-view view-title="Forgot Password?">
  <ion-content>
    <div ng-hide="EnterCodeState">
      <img src="img/CuriousCarrotLogo.png" class="logoImg last-slide" />
      <div class="list">
        <label class="item item-input">
              <span class="input-label">Insert email</span>
              <input type="text" ng-model="user.email">
            </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="sendPassword(user.email)">
              Restore Password
            </button>
      </div>
      <div class="card " ng-show="showMessage">
        <div class="item item-text-wrap register-failed-message">
          {{message}}
        </div>
      </div>
    </div>
    <div ng-show="EnterCodeState">
      <h3 class="center">Please confirm your email</h3>
      <img src="img/CuriousCarrotLogo.png" class="logoImg last-slide" />
      <p class="center">Please enter the code we sent you by email</p>
     <label class="item item-input">
              <span class="input-label">Enter the code</span>
              <input type="text" ng-model="enteredCode" name="enteredCode"  ng-model-options="{ debounce: 500 }" required>
            </label>
     
      <button class="button button-block button-positive" ng-click="confirmCode(enteredCode)">
              Confirm Code
            </button>
      <div class="card" ng-show="codeInvalidMessageVisible">
        <div class="item item-text-wrap register-failed-message">
          Sorry the code you've inserted is not valid
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
