     <ion-view view-title="Forgot Password?">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Insert email</span>
              <input type="text" ng-model="user.email">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="sendPassword(user.email)">
              Restore Password
            </button>
          </div>
        </ion-content>
      </ion-view>