<ion-view view-title="Gallery">
   <ion-content class="padding">
   <!--Sorry there are not images yet.-->
    <div ng-show="isGalleryEmpty">
      <a ng-click="addImage()">
        <div class="card">
          <div class="item item-text-wrap main-message">
            Sorry, there are not images yet. Do you want to add it? Please do it clicking here
          </div>
        </div>
      </a>
    </div>

      <ion-slide-box>
          <ion-slide ng-repeat="img in imgsId">
            <div my-gallery-item mySrc="http://localhost:51067/api/images/get?imgId=582fa1a87b14990060c36988"></div>
          </ion-slide>
     </ion-slide-box>

   </ion-content>
</ion-view>