<ion-view view-title="Gallery">
<ion-nav-buttons side="right">
      <button class="button secondary" ng-click="addImage()">
        Add Image
      </button>
    </ion-nav-buttons>

   <ion-content class="padding">
   <!--Sorry there are not images yet.-->
    <div ng-show="isGalleryEmpty">
      <a ng-click="addImage()">
        <div class="card">
          <div class="item item-text-wrap main-message">
            Sorry, there are not images yet. Do you want to add it? Please do it clicking here
          </div>
        </div>
      </a>
    </div>

      <ion-slide-box>
          <ion-slide ng-repeat="img in imgsId">
            <my-gallery-item imgPath="{{getFullUrl(img)}}"></my-gallery-item>
          </ion-slide>
     </ion-slide-box>

   </ion-content>
</ion-view>