<ion-view view-title="Info">
     <ion-content class="padding">
    <h2>Welcome to myApp</h2>
    <div>
      <p>
      myApp is a community of people which want to share their favourite place, dishes in places around them. </p>
      <p>
        In order to get the best informations, everybody need to cooperate. So if you find a new place you didn't know about, share it with other members of the community, and say what special food they have for other people who may have the same problems you have.
      </p>
      <p>For any query please send an <a href="mailto:alessandro.orlandi@outlook.com">email</a></p>
    </div>    
  </ion-content>
</ion-view>
