<ion-view view-title="List">
  <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content>
    </div>
    <a ng-click="goToAddPlace()">
      <div class="card">
        <div class="item item-text-wrap main-message">
          Do you know a place we didn't review yet? Please add it clicking here
        </div>
      </div>
    </a>
    <div class="list">
      <a ng-repeat="place in places" class="item item-avatar" ng-click="$parent.gotoDetails(place)" ng-class="{'bottom-space-20':$last}">
        <img ng-src="{{getImage(place.type)}}" class="imageTypeList"/>
        <h2>{{place.name}}</h2>
        <p>{{place.type}}</p>
        <div class="review">
          <rating ng-model="place.rating" max="5"></rating>
        </div>
        <div class="distance-item">
         ~ {{$parent.returnDistance(place.distance) | number:1}} Km
        </div>
        <i class="icon ion-chevron-right icon-accessory list-arrow"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
