<ion-view view-title="List">
   <ion-nav-bar class="bar-stable">
  </ion-nav-bar>
  <ion-content>
    <div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-nutrition-outline"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear cancel-button">
    Cancel
  </button>
</div>
    <div class="card">
  <div class="item item-text-wrap main-message">
   Do you know a place we didn't review yet? Please add it <a ng-click="goToAddPlace()" class="underlined"> here</a>
  </div>
</div>
  <div class="list">
    <a ng-repeat="place in places" class="item item-avatar" ng-click="$parent.gotoDetails(place)">
      <i class="icon ion-ios-nutrition-outline"></i>
      <h2>{{place.name}}</h2>
      <p>{{place.type}}</p>
      <div class="review">
          <rating ng-model="place.rating" max="5"></rating>
      </div>
      <i class="icon ion-chevron-right icon-accessory list-arrow"></i>
    </a>
  </div>
  </ion-content>
</ion-view>
