<ion-view view-title="Create User">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide class="register-slideContainer">
        <div class="register-slide">
          <h3>Join now a friendly Community</h3>
          <div>
            <img src="http://thecuriouscarrot.com/Content/images/ccLogo.png">
          </div>
          <div class="register-text">
            Find easily the place you're looking for. Near you!
          </div>
          <div class="register-spacer"></div>
        </div>
      </ion-slide>
      <ion-slide class="register-slideContainer">
        <div class="register-slide">
          <h3>Share your favourite place</h3>
          <div>
            <img src="http://thecuriouscarrot.com/Content/images/ccLogo.png">
          </div>
          <div class="register-text">
            Share with us your favourite place, and what is your favourite dish there!
          </div>
        </div>
      </ion-slide>
      <ion-slide class="register-slide">
        <h3>Register now</h3>
        <img src="img/CuriousCarrotLogo.png" class="logoImg last-slide" />
        <form name="form">
        <div class="list">
          <label class="item item-input">
              <span class="input-label">First Name</span>
              <input type="text" ng-model="user.firstName" required>
            </label>
          <label class="item" ng-show="user.firstName.$error.required" >
              <span class="red-warning">Please insert first name</span>
          </label>
          <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input type="text" ng-model="user.lastName" required>
            </label>
          <label class="item" ng-show="user.lastName.$error.required">
              <span class="red-warning">Please insert last name</span>
          </label>
          <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="email" ng-model="user.email" required>
            </label>
          <label class="item" ng-show="user.email.$error.required">
              <span class="red-warning"  ng-show="user.email.$error.required" >You need to insert a valid email</span>
              <span class="red-warning"  ng-show="user.email.$error.email" >This is not a valid email</span>
          </label>
          <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password" required>
          </label>
          <label class="item" ng-show="user.password.$error.required" >
              <span class="red-warning">Please insert a password of at least 8 characters</span>
          </label>
           <label class="item item-input">
              <span class="input-label">Confirm Password</span>
              <input type="password" ng-model="user.confirmPassword" required>
          </label>
          <label class="item" ng-show="user.confirmPassword.$error.required" >
              <span class="red-warning">Please insert a password of at least 8 characters</span>
          </label>
          <div class="padding">
            <input type="submit" value="Register" class="button button-block button-positive" ng-click="register(click)"/>
          </div>
        </div>
        </form>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
