page-list {
     ul.rating > li{
        padding:0 !important;
    }

    ul.rating{
        padding:0 !important;
    }

    .position{
        position: absolute;
        right:40px;
        bottom:45px;
        color:grey;
    }

    .label-md{
        margin-bottom: 0;
    }
}
