<!-- =========================
        DOWNLOAD NOW
   ============================== -->
<section class="download" id="download">

    <div class="color-overlay">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <!-- DOWNLOAD BUTTONS AREA -->
                    <div class="download-container">
                        <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Download the app on</h2>

                        <!-- BUTTONS -->
                        <div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

                            <a href="http://bit.ly/thecuriouscarrot-ios" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>
                            <a href="http://bit.ly/thecuriouscarrot-android" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>

                        </div>
                        <!-- /END BUTTONS -->

                    </div>
                    <!-- END OF DOWNLOAD BUTTONS AREA -->
                    <!-- SUBSCRIPTION FORM WITH TITLE -->
                    <div class="subscription-form-container">

                        <h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">Subscribe Now!</h2>

                        <!-- =====================
                             MAILCHIMP FORM STARTS
                             ===================== -->
                            

                        <!-- Begin MailChimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup #mce-success-response {
                                color: white;
                                display: none;
                            }
                            #mc_embed_signup {
                            }


                                #mc_embed_signup .button {
                                    background-color: #00ab66;
                                }

                                    #mc_embed_signup .button:hover {
                                        background-color: #11e400
                                    }

                                #mc_embed_signup .standardbutton {
                                    font-size: 18px;
                                    font-weight: 400 !important;
                                    border-radius: 4px !important;
                                    text-shadow: 0 !important;
                                    color: #ffffff;
                                    min-width: 150px;
                                    border: none;
                                    padding: 16px 25px 16px 25px;
                                    margin: 5px;
                                    -webkit-transition: all ease 0.25s;
                                    transition: all ease 0.25s;
                                }
                            #mc_embed_signup_scroll > h2 {
                                line-height:20px;
                            }
                                                 /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                            <form action="//thecuriouscarrot.us15.list-manage.com/subscribe/post?u=e85b5b34fa3b9f98da61011cc&amp;id=ca20331f2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <h2>Subscribe to our mailing list to be updated on all our news, new places discovered and features. Start today contributing to the vegan community!</h2>
                                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">
                                            Email Address  <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-FNAME">First Name </label>
                                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-LNAME">Last Name </label>
                                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-OS">
                                            Android/iOS  <span class="asterisk">*</span>
                                        </label>
                                        <input type="text" value="" name="OS" class="required" id="mce-OS">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e85b5b34fa3b9f98da61011cc_ca20331f2f" tabindex="-1" value=""></div>
                                    <div class="clear">
                                        <!-- SUBSCRIBE BUTTON -->
                                        <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                        <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='OS';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        
                        
                        <!--End mc_embed_signup-->

                        <!-- /END MAILCHIMP FORM STARTS -->
                        <!-- =====================
                             LOCAL TXT FORM STARTS
                             ===================== -->
                        <!-- THIS FORM IS COMMENTED TO HIDE

                        <form class="subscription-form form-inline wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s" id="subscribe" role="form">

                            <h4 class="subscription-success"><i class="icon_check"></i> Thank you! We will notify you soon.</h4>
                            <h4 class="subscription-error">Something Wrong!</h4>

                            <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">

                            <button type="submit" id="subscribe-button" class="btn btn-default standard-button">Subscribe</button>

                        </form>

                        -->
                        <!-- / LOCAL TXT SAVING FORM END -->

                    </div>
                    <!-- END OF SUBSCRIPTION FORM WITH TITLE -->

                </div>
                <!-- END COLUMN -->

            </div>
            <!-- END ROW -->

        </div>
        <!-- /END CONTAINER -->
    </div>
    <!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->