<!-- =========================
        FEATURES
   ============================== -->
<section class="features" id="features">

    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

            <!-- SECTION TITLE -->
            <h2 class="dark-text">Amazing Features</h2>
            <div class="colored-line">
            </div>
            <div class="section-description">
               Why using The Curious Carrot?
            </div>
            <div class="colored-line">
            </div>
        </div>
        <!-- /END SECTION HEADER -->


        <div class="row">

            <!-- FEATURES LEFT -->
            <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_map_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Easy</h4>
                        <p>
                            You can find exactly the food you want. Easily.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_gift_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">It's a Community</h4>
                        <p>
                            It's a community built around you. A friendly one.
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_tablet"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Cross-Browser Support</h4>
                        <p>
                           We're on Google play and itunes
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES LEFT -->
            <!-- PHONE IMAGE -->
            <div class="col-md-4 col-sm-4">
                <div class="phone-image wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <img src="@Url.Content("~/Content/images/single-iphone-thecuriouscarrot.png")" alt="">
                </div>
            </div>

            <!-- FEATURES RIGHT -->
            <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

               
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_genius"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">It's free</h4>
                        <p>
                           The Curious Carrot is a free community, and we want to keep it free. As Knowledge needs to be.
                        </p>
                    </div>

                </div>

                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_lightbulb_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">Your community</h4>
                        <p>
                            It's evolving. Participate actively in the community, <a href="mailto:alessandro@thecuriouscarrot.com">ask feature</a>. It's also yours.
                        </p>
                    </div>

                </div>

                <!-- /END SINGLE FEATURE -->
                <!-- FEATURE -->
                <div class="feature">

                    <!-- ICON -->
                    <div class="icon-container">
                        <div class="icon">
                            <i class="icon_ribbon_alt"></i>
                        </div>
                    </div>

                    <!-- FEATURE HEADING AND DESCRIPTION -->
                    <div class="fetaure-details">
                        <h4 class="main-color">It's finally available.</h4>
                        <p>
                           The first version of the app is finally available. Give us our opinion!
                        </p>
                    </div>

                </div>
                <!-- /END SINGLE FEATURE -->

            </div>
            <!-- /END FEATURES RIGHT -->

        </div>
        <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->