@using myVegAppDbAPI.ViewModels.EmailTemplates;
    @model ChangingPasswordViewModel
    <!doctype html>
    <html>
    <body>
        <div>
            <img src="http://thecuriouscarrot.com/Content/images/ccLogo.png" style="height:100px;width:auto"/>
         </div>
        <h1>Lost your password?</h1>
        <div>
            Hi @Model.Name, <br/><br/>

           If you lost your password, that's not a problem. This is the code needed to restore your password <br/>

            <h3>Code: @Model.Code </h3>
            <p>
                Looking forward to seeing  you back in our app! For any query feel free to <a href="emailto:team@thecuriouscarrot.com">email us</a>
            </p>
            <p>
                Regards.<br/>
               The Curious Carrot Team
            </p>
        </div>
    </body>
    </html>