page-login {
    .logoImg{
        margin: 10px;
        max-width: 75%;
        max-height: 50%;
        display: block;
        padding: 10px;
        margin: 0 auto;
    }

    .red-warning{
        color:red;
    }

    .margin-5px{
        margin:10px;
    }

    .or{
        width:50px;
        margin:0 auto;
    }
}
