/* Empty. Add your own CSS if you like */

.red-warning{
    color:red;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

/*Rating*/

ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 1.5px;
}
ul.rating li i {
  font-size: 15px;
  color:orange
}

.infoWindow{
    width:100px;
    height:25px;
}

