.logoImg {
  width: 50%;
  margin: 0 auto;
  display: block;
  max-width: 350px;
}

.red-warning {
  color: red;
}

.relative {
  position: relative;
}

.cursor-hand {
  cursor: pointer;
  cursor: hand;
}

.float-l {
  float: left;
}

.clearf {
  clear: both;
}
